{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load tz %}
{% load custom_filters %}

{% block title %}
posts
{% endblock title %}

{% block content %}

{% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->


    <h1>{% trans "Latest news:" %}</h1>
    <p>({% trans "total" %} - {{ posts|length }})</p>

    {% if is_not_author %}
    <button><a href="../sign/author/">{% trans "Become an author" %}</a></button>
    {% endif %}

    <button><a href="{% url 'post_add' %}">{% trans "Share your post" %}</a></button>

    <ul class="list-group list-group-flash">
        {% for post in posts %}
            <li class="list-group-item">
                <small class="fw-bold">{{ post.creation_date|date:"d M Y" }}</small>
                <a href={{post.id}}>{{ post.title|censor:'нефть' }}</a>
                <small class="text-muted">({% trans "author:" %} {{ post.author }})</small><br>
                <small class="fw-bold">{% trans "Categories:" %}
                    {% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </small>
                <p>{{ post.text|truncatewords:20|censor:'нефть' }}</p>

                <button><a href="{% url 'post_edit' post.id %}">{% trans "Edit" %}</a></button>
                <button><a href="{% url 'post_delete' post.id %}">{% trans "Delete" %}</a></button>
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">{% trans "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}"><-</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">-></a>
            <a href="?page={{ page_obj.paginator.num_pages}}">{% trans "Last" %}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
